<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="page-container">
      <div class="author-info">Author Info</div>
      <div class="post-list">
        <div class="post-cards">
          {% for post in paginator.posts %}
            <div class="post-container">
              <div class="left-top-corner"></div>
              <div class="top-line"></div>
              <div class="right-top-corner"></div>
              <div class="left-line"></div>
              <div class="content post-card-container">
                <a class="post-title" href="{{ post.url }}">{{post.title}}</a>
                <span class="post-date">{{ post.date | date: "%F" }}</span>
                <p class="post-intro">{{ post.excerpt | remove: "<p>" | remove: "</p>" }}</p>
                <div class="tag-list">
                  {% for tag in post.tags%}
                  <div class="inline-wrap">
                    <div class="tag-container">
                      <div class="left-top-corner"></div>
                      <div class="top-line"></div>
                      <div class="right-top-corner"></div>
                      <div class="left-line"></div>
                      <span class="content tag">{{tag}}</span>
                      <div class="right-line"></div>
                      <div class="left-bottom-corner"></div>
                      <div class="bottom-line"></div>
                      <div class="right-bottom-corner"></div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="right-line"></div>
              <div class="left-bottom-corner"></div>
              <div class="bottom-line"></div>
              <div class="right-bottom-corner"></div>
            </div>
          {% endfor %}
        </div>
        <div class="pagination">
          <div class="inline-wrap">
            {% if paginator.previous_page %}
              <div class="previous-container" href="{{ paginator.previous_page_path }}">
                <div class="left-top-corner"></div>
                <div class="top-line"></div>
                <div class="right-top-corner"></div>
                <div class="left-line"></div>
                <a href="{{ paginator.previous_page_path }}" class="content previous">
                  {% raw %}<{% endraw %}
                </a>
                <div class="right-line"></div>
                <div class="left-bottom-corner"></div>
                <div class="bottom-line"></div>
                <div class="right-bottom-corner"></div>
              </div>
            {% else %}
              <div class="disabled-previous-container">
                <div class="left-top-corner"></div>
                <div class="top-line"></div>
                <div class="right-top-corner"></div>
                <div class="left-line"></div>
                <span class="content disabled-previous">{% raw %}<{% endraw %}</span>
                <div class="right-line"></div>
                <div class="left-bottom-corner"></div>
                <div class="bottom-line"></div>
                <div class="right-bottom-corner"></div>
              </div>
            {% endif %}
          </div>
          <span class="page-number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
          <div class="inline-wrap">
            {% if paginator.next_page %}
              <div class="previous-container" href="{{ paginator.previous_page_path }}">
                <div class="left-top-corner"></div>
                <div class="top-line"></div>
                <div class="right-top-corner"></div>
                <div class="left-line"></div>
                <a href="{{ paginator.next_page_path }}" class="content next">
                  {% raw %}>{% endraw %}
                </a>
                <div class="right-line"></div>
                <div class="left-bottom-corner"></div>
                <div class="bottom-line"></div>
                <div class="right-bottom-corner"></div>
              </div>
            {% else %}
              <div class="disabled-next-container">
                <div class="left-top-corner"></div>
                <div class="top-line"></div>
                <div class="right-top-corner"></div>
                <div class="left-line"></div>
                <span class="content disabled-next">{% raw %}>{% endraw %}</span>
                <div class="right-line"></div>
                <div class="left-bottom-corner"></div>
                <div class="bottom-line"></div>
                <div class="right-bottom-corner"></div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {%- include footer.html  -%}
  </body>
</html>